ess-streaming-data-types
genie-python
git+https://github.com/ISISComputingGroup/pcaspy
git+https://github.com/ISISComputingGroup/CaChannel.git
contextlib2
GitPython
kafka_python
lxml
pysnmp
tornado
pysnmp-lextudio==5.0.34
snmpsim-lextudio==1.0.5
pyasn1==0.6.0
pysnmp-mibs

# dev
mock
lxml-stubs
coverage
parameterized
PyHamcrest
pytest
pytest-cov

